@media all and (min-width:769px) {
    
    #nav {
        float:right;
        padding-top:25px;
        padding-right:15px;
        background:transparent;
        border-radius: 20px;
    }
    
    #nav a {
        color:#cc0000;
        border:2px solid #cc0000;
        border-radius: 3px;
        padding:5px;
        margin:5px;
        text-decoration:none;
        font-weight:800;
    }
    
    #nav a:active {
        color:#fffeee;
        border:2px solid #cc0000;
        padding:5px;
        background-color:#cc0000;
        text-decoration:none;
    }
    
    #nav a:hover {
        color:#fffeee;
        border:2px solid #cc0000;
        padding:5px;
        background-color:#cc0000;
        text-decoration:none;
    }
    
}

@media all and (max-width:768px) {
    
    #nav {
        float:none;
        margin:auto;
        padding-top:25px;
        padding-right:15px;
        padding-bottom:25px;
        background:transparent;
        border-radius: 20px;
    }
    
    #nav a {
        color:#fffeee;
        border:2px solid #fffeee;
        border-radius: 3px;
        padding:5px;
        margin:5px;
        text-decoration:none;
        font-weight:800;
    }
    
    #nav a:active {
        border:2px solid #fffeee;
        padding:5px;
        background-color:#cc0000;
        text-decoration:none;
    }
}